@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap");
:root {
  --background-color-light: #f5f5f7;
  --color-light: #fefefe;
  --light-gray: #00000086;
  --white-clean: #ffffff;
  --transparent-white: #ffffff27;
  --transparent-red: #e9425627;
  --transparent-dark-indigo: #632affb9;
  --transparent-light-indigo: #632aff4b;
  --transparent-dark-gray: #4d4d4db9;
  --transparent-light-gray: #4d4d4d4b;
  --indigo: #622aff;
  --red: #e94256;
  --green: #0b9e43;
  --teal: #2294b1;
  --fuchsia: #dd04d1;
  --orange: #e2620c;
  --cornflower: #0e90db;
  --mahogany: #e94b1b;
  --avocado: #5f9800;
  --azure: #027fff;
}

html,
body {
  font-family: "Poppins";
  background-color: var(--background-color-light);
  padding-bottom: 2em;
}

canvas {
  padding: 0;
  margin: 0;
  border-radius: 1em;
}

.container {
  text-align: center;
}

.container .header {
  text-align: left;
  width: 100%;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content .signInToast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1em;
  line-height: .5em;
  padding: 1em;
  margin: 1em;
  background-color: var(--white-clean);
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .signInToast .info-text {
  margin-right: 1em;
}

.container .content .signInToast .info-text .strong {
  color: var(--light-gray);
  font-weight: 600;
}

.container .content .info-message-toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 15em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--white-clean);
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .info-message-toast .img {
  position: relative;
  width: 4em;
  height: 4em;
  border: 1px solid var(--light-gray);
  border-radius: 100%;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .info-message-toast .text {
  text-align: left;
  margin-left: 1em;
  line-height: 0.5em;
}

.container .content .info-message-toast .text .strong {
  color: var(--light-gray);
  font-weight: 600;
}

.container .content .status {
  position: fixed;
  z-index: 10;
  color: var(--green);
  background-color: var(--white-clean);
  padding: 1em;
  margin-top: 2em;
  border-radius: 1em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .landing-header {
  margin-bottom: 2em;
}

.container .content .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 2em;
}

.container .content .help p {
  color: var(--light-gray);
  font-weight: 600;
  margin-right: 1em;
}

.container .content h1 {
  font-size: 3em;
  margin: 1em;
  line-height: 1em;
}

.container .content h2 {
  font-size: 3em;
  line-height: 1em;
}

.container .content button,
.container .content input,
.container .content textarea {
  font-family: "Poppins";
  border: 1px transparent;
  outline: none;
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content input,
.container .content textarea {
  width: 16em;
}

.container .content button {
  width: 10em;
  cursor: pointer;
}

.container .content .selected {
  background-color: var(--white-clean);
  color: black;
  border: 1px solid var(--light-gray);
}

.container .content .open {
  background-color: var(--azure);
  color: var(--color-light);
}

.container .content .important {
  background-color: var(--red);
  color: var(--color-light);
}

.container .content .back {
  background-color: var(--indigo);
  color: var(--color-light);
}

.container .content .settings {
  width: 15em;
}

.container .content .input {
  background-color: var(--white-clean);
}

.container .content .profile-picture {
  position: relative;
  height: 10em;
  width: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 2px solid var(--light-gray);
  border-radius: 100%;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .role-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 5em;
  height: 1.5em;
  padding: 0.25em;
  border-radius: 1em;
  cursor: pointer;
  background-color: var(--transparent-light-indigo);
  border: 2px solid var(--transparent-dark-indigo);
}

.container .content .role-card p {
  line-height: 0em;
  font-weight: 500;
  color: var(--transparent-dark-indigo);
}

.container .content .user-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 5em;
  height: 1.5em;
  padding: 0.25em;
  border-radius: 1em;
  background-color: var(--transparent-light-gray);
  border: 2px solid var(--transparent-dark-gray);
}

.container .content .user-card p {
  line-height: 0em;
  font-weight: 500;
  color: var(--transparent-dark-gray);
}

.container .content .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .content .blur {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-backdrop-filter: blur(2em);
          backdrop-filter: blur(2em);
}

.container .content .blur .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1em;
}

.container .content .blur .content-container .end-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white-clean);
  text-align: left;
  max-width: 20em;
  width: 70vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 1em;
  padding: 2em;
  margin: 1em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .blur .content-container .end-card p {
  color: var(--light-gray);
  font-weight: 600;
}

.container .content .blur .content-container .times {
  background-color: var(--white-clean);
  text-align: left;
  max-width: 20em;
  width: 75vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 1em;
  padding: 2em;
  margin: 1em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .blur .content-container .character-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .content .blur .content-container .character-container .character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-clean);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  width: 15em;
  height: 20em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .blur .content-container .character-container .character .character-image {
  position: relative;
  width: 15em;
  height: 15em;
}

.container .content .settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4em;
}

.container .content .settings-container .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .content .settings-container .setting button {
  margin-right: 10em;
}

.container .content .settings-container .setting p {
  color: var(--light-gray);
  font-weight: 600;
  margin-left: 1em;
}

.container .content .level-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em;
}

.container .content .level-container .level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-clean);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  width: 15em;
  height: 25em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .level-container .level h3 {
  font-size: 2em;
  line-height: 0;
}

.container .content .level-container .level .level-preview {
  position: relative;
  width: 15em;
  height: 15em;
}

.container .content .level-container .level .level-preview img {
  border-radius: 2em;
}

.container .content .leaderboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em;
}

.container .content .leaderboard-container .leaderboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-clean);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  width: 15em;
  height: 25em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .leaderboard-container .leaderboard h3 {
  font-size: 2em;
  line-height: 0;
}

.container .content .leaderboard-container .leaderboard .times {
  width: 15em;
  height: 15em;
  text-align: left;
}

.container .content .display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
}

.container .content .display-container .display {
  background-color: var(--white-clean);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 550px;
  min-height: 370px;
  padding: 0.5em;
  border-radius: 1em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .user-conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .content .user-conatiner .user-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 35em;
  width: 85vw;
  height: 4em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  background-color: var(--white-clean);
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .user-conatiner .user-item .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .content .user-conatiner .user-item .top-menu .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content .user-conatiner .user-item .top-menu .info .user-img {
  position: relative;
  width: 4em;
  height: 4em;
  border: 1px solid var(--light-gray);
  border-radius: 100%;
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .user-conatiner .user-item .top-menu .info .user-text {
  text-align: left;
  margin-left: 1em;
  line-height: 0.5em;
}

@media only screen and (max-width: 600px) {
  .container .content .user-conatiner .user-item .top-menu .info .user-text {
    width: 22ch;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.container .content .user-conatiner .user-item .top-menu .info .user-text .strong {
  color: var(--light-gray);
  font-weight: 600;
}

.container .content .user-conatiner .user-item .top-menu .icon {
  position: relative;
  width: 1.5em;
  height: 1.5em;
}

.container .content .user-conatiner .user-item .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: visable;
  margin-top: 1em;
}

.container .content .user-conatiner .user-item .dropdown-menu .dropdown-menu-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em;
}

.container .content .user-conatiner .user-item .dropdown-menu .dropdown-menu-times .time-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .content .user-conatiner .user-item .dropdown-menu .dropdown-menu-times .time-item .time p {
  color: var(--light-gray);
  font-weight: 600;
}

.container .content .user-conatiner .user-item .dropdown-menu .dropdown-menu-times .time-item .time .no-time {
  color: var(--red);
}

.container .content .user-conatiner .user-item .dropdown-menu .dropdown-menu-times .time-item .time input {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

.container .content .user-conatiner .user-item .dropdown-menu .dropdown-menu-times .time-item .time-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .content .user-conatiner .user-item .dropdown-menu .dropdown-menu-times .time-item .time-actions .icon {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.container .content .user-conatiner .user-item .dropdown-menu .dropdown-menu-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: visible;
  margin-top: 1em;
}

.container .content .user-conatiner .user-item .card-blur {
  position: absolute;
  z-index: 1;
  width: 35em;
  height: 10em;
  border-radius: 1em;
  -webkit-backdrop-filter: blur(2em);
          backdrop-filter: blur(2em);
}

.container .content .user-conatiner .disabled {
  background-color: var(--transparent-red);
}

.container .content .patch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .content .patch-container .new-patch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background-color: var(--white-clean);
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .patch-container .new-patch-container .title-input {
  max-width: 25em;
}

.container .content .patch-container .new-patch-container .date-input {
  max-width: 10em;
}

.container .content .patch-container .new-patch-container .message-input {
  max-width: 30em;
  height: 10em;
  word-break: break-word;
}

.container .content .all-patch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content .all-patch-container .patch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  max-width: 27em;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background-color: var(--white-clean);
  -webkit-box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3.4px 5.3px rgba(0, 0, 0, 0.028), 0 11.4px 17.9px rgba(0, 0, 0, 0.042), 0 51px 80px rgba(0, 0, 0, 0.07);
}

.container .content .all-patch-container .patch .strong {
  color: var(--light-gray);
  font-weight: 600;
}

.container .content .all-patch-container .patch .patch-message {
  white-space: pre-wrap;
}

.noscroll {
  overflow: hidden;
}

.controller-container {
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 1em;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 8em;
  padding-left: 2em;
  padding-right: 2em;
  pointer-events: none;
}

.controller-container .jump {
  background-color: #dd04d1;
  opacity: .25;
  width: 10em;
  height: 100%;
  border-radius: 1em;
  pointer-events: all;
}

.controller-container .movement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15em;
  height: 100%;
  overflow: hidden;
  border-radius: 1em;
  pointer-events: all;
}

.controller-container .movement-container .left {
  background-color: #e2620c;
  opacity: .25;
  width: 50%;
  height: 100%;
}

.controller-container .movement-container .right {
  background-color: #e94256;
  opacity: .25;
  width: 50%;
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
/*# sourceMappingURL=styles.css.map */