@import "../styles/colors.scss";

.page {
	width: 100%;
	height: 100vh;
	min-height: 70rem;

	overflow: hidden;

	h1 {
		text-align: center;
		font-size: 3rem;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.imageContainer {
		position: absolute;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		// overflow-x: hidden;

		width: 100%;
		height: 100vh;
		min-height: 70rem;
	}

	.image {
		position: absolute;

		width: 15rem;
		height: 18rem;
		object-fit: cover;

		border-radius: 1rem;

		box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0px 6.7px 5.3px rgba(0, 0, 0, 0.028), 0px 12.5px 10px rgba(0, 0, 0, 0.035),
			0px 22.3px 17.9px rgba(0, 0, 0, 0.042), 0px 41.8px 33.4px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);

		&.alternate {
			width: 22rem;
			height: 15rem;
		}
	}
}

.second {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: $backgroundDark;
	color: #fff;

	.content {
		width: 90%;
		max-width: 45rem;

		text-align: center;
	}

	.secondImage {
		width: 30rem;
		max-width: 90%;
		object-fit: contain;
		margin: -4rem;
	}

	button {
		font-size: 1rem;

		padding: 1rem;

		color: #fff;

		cursor: pointer;

		background-color: $action;
		border-radius: 0.8rem;
		border: none;
	}
}
