.videoWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	gap: 1rem;

	margin-top: 2rem;
}

.profileSection {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 15rem;
	max-height: 40vh;
	width: 100%;

	background-color: #a1a1a1;
}

.profileInfo {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 3rem;
}

.profile {
	height: 10rem;
	width: 10rem;

	border-radius: 100%;

	object-fit: cover;

	background-color: #cccccc;
}
